<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    {% assign news = site.news | reverse %}
    {% if include.limit and page.announcements.limit %}
      {% assign news_limit = page.announcements.limit %}
    {% else %}
      {% assign news_limit = news_size %}
    {% endif %}
    <ul class="news-list news-list--compact">
      {% for item in news limit: news_limit %}
        <li class="news-list__item">
          <span class="news-list__date">[{{ item.date | date: '%Y/%m' }}]</span>
          <span class="news-list__body">
            {% if item.inline %}
              {% assign news_inline = item.excerpt | default: item.content %}
              {{ news_inline | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
    {% if include.show_more %}
      <div class="news-more-link">
        <a href="{{ '/news/' | relative_url }}" class="news-more-link__anchor">
          <span class="news-more-link__icon" aria-hidden="true">&#9656;</span>
          More news
        </a>
      </div>
    {% endif %}
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
